body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #212121;
    margin: 0;
}

.text-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0, 03em;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.text-logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0, 03em;
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    list-style: none;
}
.blue {
    color: #2196f3
}

.black {
    color: #212121;
}

.white {
    color: #FFFFFF;
}
.area {
    background: #2f303a;
    height: 600px;

}
.section-1 {
    background-color: rgba(47, 48, 58, 1);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/Img.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 1600px;
}
.section {
 padding-top: 94px;
 padding-bottom: 94px;
 
} 

.area2 {
    background: #F5F4FA;
}

.area2a {
    background: #FFFFFF;
}
.area3 {
    background: #2f303a;
    height: 252px;
}

.text-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1, 36;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 40px;
    color: #FFFFFF;
}

.text-heading2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 17;
    text-align: center;
  
}

.text-figcaption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 19;
    text-align: center;
}

.text-figcaption1 {
    font-size: 16px;
    line-height: 1, 19;
    text-align:center;
    color: #757575;
}

.text-figcaption2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    padding-left: 24px;
    padding-right: 24px;
}

.text-figcaption3 {
    font-size: 16px;
    line-height: 1, 88;
    color: #757575;
    padding-left: 24px;
    padding-right: 24px;
}

.text-post {
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0, 03em;
    color: #212121;
}

.text-post1 {
    font-size: 14px;
    width: 260px;
    line-height: 1, 71;
    letter-spacing: 0, 03em;
    color: #757575;
}
.text-adres {
    font-style: normal;
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0, 03em;
    text-decoration: none;
    padding-bottom: 9px;
}

.color-adres {
    color: rgba(255, 255, 255, 0.6);
}

a {
    text-decoration: none;
    list-style: none;
}

.container-button {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 0px;
    margin: 0px;
}
.button {
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 6px 22px;
    text-align: center;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    line-height: 1.6;
    margin-right: 8px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:not(:last-child) {
    margin-right: 8px;
}
.link:hover {
    color: #2196f3;
}
.button:hover {
    background-color: #2196f3;
    color: white;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}

.button1 {
    font-weight: 700;
    line-height: 1, 87;
    color: white;
    display: block;
    margin: auto;
    background-color: #2196f3;
    border-radius: 4px;
   }

h1 h2 h3 h4 {
    margin: 0;
}
p {
    padding: 0;
}
ul li {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;  
    list-style: none;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
}

.header {
    border-bottom: 1px solid #ECECEC;
}
.menu {
    display: flex;
    list-style: none;
    align-items:center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu-item {
    margin-left: 23px;
    align-items: center;
    justify-content: space-between;
}
.logo-item {
    padding-top: 24px;
    padding-bottom: 24px;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}    
.img-item {
    display: flex;
    justify-content:space-between;
    list-style: none;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
.img-item3:hover {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #EEEEEE;
    cursor: pointer;
}
figure {
    padding: 0;
    margin: 0;
}
.img-item2 {
    margin-right: 15px;
    margin-left: 15px; 
    padding: 0px;
    background: #FFFFFF;
        /* material shadow v1 */
    
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.picture {
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
        /* material shadow v1 */
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.img-item3 {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    justify-content: space-between;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.icon-header {
    fill:#757575;
}*/
.hover {
    fill:#757575;
    color: #757575;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hover:hover {
    cursor: pointer;
    fill: #2196f3;
    color: #2196f3;
}
/*a svg {
    fill: currentColor;
}*/

.icon {
    padding-top: 20px;
    padding-left: 20px;
}
.icon-main {
    
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}
.social-list {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 250, 250, 1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.icons-social {
    fill: #AFB1B8;  
    width: 20px;
    height: 20px;
}
.social-list:hover svg,
.social-list:focus svg {
    fill: var(--main-color);
    /*background-color: rgba(47, 48, 58, 0.4); */
    background: #2196f3;
}
.social-list2:hover {
    background: #2196f3;
    background-color: #2196f3;
}
:root {
    --main-color:#fff;
}
.container-icons-social {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    margin-right: 32px;
    margin-bottom: 30px; 
}
.social-list-footer {
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-footer:hover {
    background-color: #2196f3;
}
.icons-social-footer {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-social-footer:hover {
    background-color: #2196f3;
}
.text-footer {
    display: flex;
    justify-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform:uppercase;
    color: #FFFFFF;
    padding-left: 100px;
  
}
.icon-konsument {
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
fill:#AFB1B8;
cursor: pointer;
transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-konsument:hover {
    fill:#2196f3;
    border: 1px solid #2196f3;
}
.icon-konsument-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
}

.icon-logo {
    fill:#AFB1B8;
    cursor: pointer;
}    

.icon-footer {
    display: flex;
}    
    
.style-footer {
    padding-top: 72px;
}
.contact {
    list-style: none;
    padding-left: 0px;
}
.container-icons-social-footer {
    display:flex;
    justify-content: space-between;
    padding-right: 10px;
    text-decoration: none;
    align-content: center;
    list-style: none;
    gap: 10px;
    padding-left: 100px;
}
.backdrop {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transform: scale(100%);
    opacity: 100%;
}
.modal {
    position: absolute;
    top:50%;
    left:50%;
    width: 528px;
    min-height: 581px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.box {
    position:relative;
    overflow: hidden;
}
.box:hover .overlay {
    transform: translateY(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
    position:absolute;
    top: 1px;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
    font-family: 'Roboto';
    font-size: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #fff;
    margin-top: 49px;
    margin-bottom: 49px;
    margin-right: 45px;
    margin-left: 24px;
}
.box-text {
    position: relative;
    border: 1px solid #ececec;
    border-top: none;
}
.menu .menu-item :focus,
.menu .menu-item :hover {
    color: #2196f3;
}
.menu-item-active::after {
    content: "";
    display: block;
    position: relative;
    border-top: 4px solid #2196f3;
    border-radius: 2px;
    top: 29px;
    margin-top: -4px;
}
.modal-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.modal-form-policy-text::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    margin-top: 8px;
    margin-right: 4px;
    border: 1px solid #000;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-policy:checked + .modal-form-policy-text::before {
    background-color: #2196f3;
    border: none;
    background-image: url(../images/Vector.svg);
    border: 3px solid #fff;
}
.visually-hidden {
    position: absolute !important;
    clip:rect(1px 1px 1px 1px);
    clip:rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px ;
    width: 1px !important;
    overflow: hidden;

}
.close-btn2 {
    position: absolute;
        top: 437px;
       /* width: 16px;
        height: 16px;*/
        background: #FFFFFF;
        border: 1px solid #fff;
        background-color: transparent;
        cursor: pointer;
}

.modal-form-name {
position: absolute;
   left:55px;
    top: 109px;
}
.modal-form-phone {
position: absolute;
    left: 55px;
    top: 172px;
}
.modal-form-email {
    position: absolute;
    left: 53px;
    top: 227px;
}
.modal-form-place {
   display: block;
   margin-left: 40px;
   padding-left: 40px;
    width: 448px;
        height: 40px;
        /*top: 93px;*/
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
}
.modal-form-contact {
    display: block;
    width: 448px;
        margin-left: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
}
.modal-form-label {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: #757575;
        margin-left: 40px;
}
.form-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.modal-submit {
        margin-left: 164px;
        margin-right: 164px;
        width: 200px;
        height: 50px;
        margin-top: 100px;
        background: #2196F3;
        /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
        border: none;
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
         line-height: 30px;
         letter-spacing: 0.06em;
        color: #FFFFFF;
}
.newsletter-text {
    color:#FFFFFF;
    font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.newsletter-btn {
    width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #fff;
        padding-left:0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        outline: none;
}
.newsletter-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    margin-top: 4px;
}
.newsletter-input {
    width: 358px;
        height: 50px;
        left: 815px;
        top: 2787px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background: transparent;
        margin-right: 12px;
}
.newsletter-input:hover {
    border: 1px solid #2196f3;
}
.form {
    display: flex;
    justify-content:flex-end;
    margin-top: -150px;
}
.useremail {
    display: inline;
}
.form-style {
    list-style: none;
}
  input:focus,
  textarea:focus {
      outline: none;
  }
  .form-group input:focus-within {
    border-color: #2196f3;
  }
  .modal-form-contact:focus-within {
    border-color: #2196f3;
  }
  .form-group label:focus-within {
    fill: #2196F3;
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
