.link:hover {
    color: #2196f3;
}
:root {
    --main-color:#fff;
}




.team {
    background: #F5F4FA;
}

.area2a {
    background: var(--main-color);
}
.area3 {
    background: #2f303a;
    height: 252px;
}
